COPYING
INSTALL
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
doc/benzene-doc/
missing
src/config.h
src/config.in
src/stamp-h1
Makefile
.deps
*.log
*.tags
*.o
*.in
*.a
*~
